!DOCTYPE html
html {
    head {
        meta charset="utf-8"
        meta name=viewport content="width=device-width, initial-scale=1.0"
        script src="https://cdn.tailwindcss.com"
    }
    body class="grid" {
        @template name=nav-item {
            a href="$link" class="$class" "$text $var"
        }
        @template name=card {
            div class="p-4 text-zinc-100 bg-zinc-800 rounded-[15px]" {
                @nav-item class="bg-amber-500" "$text" 
            }
        }
        nav class="
            sticky justify-evenly content-center min-h-20 grid grid-flow-col
            bg-slate-200 text-lg
        " \
        {
            @nav-item link="#" "Home"
            @nav-item link="#" "Projects"
        }
        h1 class="text-3xl text-center font-bold" "Hello world!"
        @card text="hi"
    }
}
